<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>科研教学成果管理系统</title>
	<!--jQuery引用-->
	<script src="files/js/jquery-3.3.1.js"></script>
	<!-- vue.js core -->
	<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
	<!-- 引入element-ui样式与组件 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<!--引入chartist.js核心库-->
	<script type="text/javascript" src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
	<link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
	<!--引入自定义库-->
	<link href="files/css/my.css" rel="stylesheet" type="text/css" />
	<script src="files/js/my.js"></script>
</head>
<body>
	<div id="app">
		<el-container>
			<el-header>科研教学成果管理系统</el-header>
			<el-container>
				<el-aside width="200px">
					<el-row class="tac">
						<el-col :span="20">
							<el-menu
							default-active="2"
							class="el-menu-vertical-demo"
							@open="handleOpen"
							@close="handleClose">
							<el-submenu index="1">
								<template slot="title">
									<i class="el-icon-location"></i>
									<span>审批事务</span>
								</template>
								<el-menu-item-group>
									<el-menu-item index="1-1" @click="showApplyingKyxmListSection">立项审批</el-menu-item>
									<el-menu-item index="1-2" @click="showApplyingCompletingKyxmListSection">结项审批</el-menu-item>
									<el-menu-item index="1-3" @click="showApplyingScoreKyxmListSection">积分审批</el-menu-item>
								</el-menu-item-group>
							</el-submenu>
							<el-submenu index="2">
								<template slot="title">
									<i class="el-icon-menu"></i>
									<span>信息管理</span>
								</template>
								<el-menu-item-group>
									<el-menu-item index="2-1" @click="showVisitListSection">用户管理</el-menu-item>
									<el-menu-item index="2-2" @click="showKyxmListSection">课题管理</el-menu-item>
								</el-menu-item-group>
							</el-submenu>
							<el-menu-item index="3">
								<i class="el-icon-document"></i>
								<span slot="title" @click="showStatisticsOfScoreAdmin">积分统计</span>
							</el-menu-item>
							<el-menu-item index="4" @click="logout">
								<i class="el-icon-setting"></i>
								<span slot="title">用户注销</span>
							</el-menu-item>
						</el-menu>
					</el-col>
				</el-row>
			</el-aside>

			<el-container>
				<el-main>
					<!--审批课题立项start-->
					<div id="applyingKyxmListSection" style="display: none">
						<template>
							<el-table :data="applyingKyxmTableData"  border style="width: 100%">
								<el-table-column header-align="center" prop="u_id" label="用户编号">
								</el-table-column>
								<el-table-column header-align="center" prop="k_name" label="课题名称">
								</el-table-column>
								<el-table-column header-align="center" prop="k_status" label="课题状态">
								</el-table-column>
								<el-table-column header-align="center" prop="k_score" label="课题积分">
								</el-table-column>
								<el-table-column header-align="center" prop="k_applyTime" label="申报时间">
								</el-table-column>
								<el-table-column header-align="center" prop="k_setTime" label="立项时间">
								</el-table-column>
								<el-table-column header-align="center" prop="k_endTime" label="结项时间">
								</el-table-column>
								<el-table-column header-align="center" label="操作">
									<template scope="props">
										<el-button type="primary" @click='passApplyingKyxm(props.row.u_id,props.row.k_id)'>通过</el-button>
										<br>
										<br>
										<el-button type="primary"@click='rejectApplyingKyxm(props.row.u_id,props.row.k_id)'>拒绝</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
					</div>
					<!--审批课题立项end-->

					<!--审批课题结项start-->
					<div id="applyingCompletingKyxmListSection" style="display: none">
						<template>
							<el-table :data="applyingCompletingKyxmTableData"  border style="width: 100%">
								<el-table-column header-align="center" prop="u_id" label="用户编号">
								</el-table-column>
								<el-table-column header-align="center" prop="k_name" label="课题名称">
								</el-table-column>
								<el-table-column header-align="center" prop="k_status" label="课题状态">
								</el-table-column>
								<el-table-column header-align="center" prop="k_score" label="课题积分">
								</el-table-column>
								<el-table-column header-align="center" prop="k_applyTime" label="申报时间">
								</el-table-column>
								<el-table-column header-align="center" prop="k_setTime" label="立项时间">
								</el-table-column>
								<el-table-column header-align="center" prop="k_endTime" label="结项时间">
								</el-table-column>
								<el-table-column header-align="center" label="操作">
									<template scope="props">
										<el-button type="primary" @click='passApplyingCompletingKyxm(props.row.u_id,props.row.k_id)'>通过</el-button>
										<br>
										<br>
										<el-button type="primary"@click='rejectApplyingCompletingKyxm(props.row.u_id,props.row.k_id)'>拒绝</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
					</div>
					<!--审批课题结项end-->

					<!--审批课题积分start-->
					<div id="applyingScoreKyxmListSection" style="display: none">
						<template>
							<el-table :data="applyingScoreKyxmTableData"  border style="width: 100%">
								<el-table-column header-align="center" prop="u_id" label="用户编号">
								</el-table-column>
								<el-table-column header-align="center" prop="k_name" label="课题名称">
								</el-table-column>
								<el-table-column header-align="center" prop="k_status" label="课题状态">
								</el-table-column>
								<el-table-column header-align="center" prop="k_score" label="课题积分">
								</el-table-column>
								<el-table-column header-align="center" prop="k_applyTime" label="申报时间">
								</el-table-column>
								<el-table-column header-align="center" prop="k_setTime" label="立项时间">
								</el-table-column>
								<el-table-column header-align="center" prop="k_endTime" label="结项时间">
								</el-table-column>
								<el-table-column header-align="center" label="操作">
									<template scope="props">
										<el-button type="primary" @click='passApplyingScoreKyxm(props.row.u_id,props.row.k_id)'>通过</el-button>
										<br>
										<br>
										<el-button type="primary"@click='rejectApplyingScoreKyxm(props.row.u_id,props.row.k_id)'>拒绝</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
					</div>
					<!--审批课题积分end-->

					<!--用户管理模块-->
					<!--用户管理模块-查看模块start-->
					<div id="visitListSection" style="display: none">
						<el-table :data="visitTableData"  border style="width: 100%">
							<el-table-column header-align="center" label="用户名">
								<template scope="props">
									<el-popover trigger="hover" placement="top">
										<p>用户编号: {{ props.row.u_id }} </p>
										<p>用户名: {{ props.row.username }}</p>
										<p>密码: {{ props.row.password }}</p>
										<div slot="reference" class="name-wrapper">
											<el-tag size="medium">{{ props.row.username }}</el-tag>
										</div>
									</el-popover>
								</template>
							</el-table-column>
							<el-table-column header-align="center" label="操作">
								<template scope="props">
									<el-button size="mini" @click="editVisit(props.row.u_id,props.row.username)">编辑</el-button>
									<el-button size="mini" type="danger" @click="deleteVisit(props.row.u_id,props.row.username)">删除</el-button>
								</template>
							</el-table-column>
						</el-table>
						<el-row :gutter="20">
							<el-col :span="12" :offset="6"><div class="grid-content bg-purple">
								<el-button type="primary" @click="addVisit()">添加用户</el-button>
							</div></el-col>
						</el-row>
					</div>
					<!--用户管理模块-查看模块end-->

					<!--用户管理模块-操作模块start-->
					<div id="editVisitSection" style="display: none">
						<el-form :label-position="labelPosition" :model="visitItemFormData" label-width="80px">
							<el-form-item color="white">
								<el-row :gutter="10">
									<el-col :span="2" :offset="20"><div class="grid-content bg-purple">
										<el-button type="warning" @click="cancelEditVisit">取消</el-button>
									</div></el-col>
									<el-col :span="2"><div class="grid-content bg-purple">
										<el-button type="primary" @click="saveEditVisit()">保存</el-button>
									</div>
								</el-col>
							</el-row>
						</el-form-item>
						<el-form-item label="用户编号">
							<el-input v-if="markadd" v-model="visitItemFormData.u_id"></el-input>
							<span v-else>{{visitItemFormData.u_id}}</span>
						</el-form-item>
						<el-form-item label="用户名">
							<el-input v-model="visitItemFormData.username"></el-input>
						</el-form-item>
						<el-form-item label="密码">
							<el-input v-model="visitItemFormData.password"></el-input>
						</el-form-item>
					</el-form>
				</div>
				<!--用户管理模块-操作模块end-->
















				<!--课题管理模块-操作模块start-->
				<!--查看课题模块start-->
				<div id="kyxmListSection" style="display: none">
					<el-table :data="kyxmListTableData"  border style="width: 100%">
						<el-table-column header-align="center" label="课题名称">
							<template scope="props">
								<el-popover trigger="hover" placement="top">
									<p>课题编号: {{ props.row.k_id }}</p>
									<p>课题类别: {{ props.row.k_category }}</p>
									<p>课题积分: {{ props.row.k_score }}</p>
									<div slot="reference" class="name-wrapper">
										<el-tag size="medium">{{ props.row.k_name }}</el-tag>
									</div>
								</el-popover>
							</template>
						</el-table-column>
						<el-table-column header-align="center" label="操作">
							<template scope="props">
								<el-button size="mini" @click="editKyxm(props.row.k_id)">编辑</el-button>
								<el-button size="mini" type="danger" @click="deleteKyxm(props.row.k_id)">删除</el-button>
							</template>
						</el-table-column>
					</el-table>
					<el-row :gutter="20">
						<el-col :span="12" :offset="6"><div class="grid-content bg-purple">
							<el-button type="primary" @click="addKyxm()">添加课题</el-button>
						</div></el-col>
					</el-row>
				</div>
				<!--查看课题模块end-->

				<!--课题管理模块-操作课题模块start-->
				<div id="editKyxmSection" style="display: none">
					<el-form :label-position="labelPosition" :model="kyxmItemFormData" label-width="80px">
						<el-form-item color="white">
							<el-row :gutter="10">
								<el-col :span="2" :offset="20"><div class="grid-content bg-purple">
									<el-button type="warning" @click="cancelEditKyxm()">取消</el-button>
								</div></el-col>
								<el-col :span="2"><div class="grid-content bg-purple">
									<el-button type="primary" @click="saveEditKyxm()">保存</el-button>
								</div>
							</el-col>
						</el-row>
					</el-form-item>
					<el-form-item label="课题编号">
						<el-input v-if="markadd" v-model="kyxmItemFormData.k_id"></el-input>
						<span v-else>{{kyxmItemFormData.k_id}}</span>
					</el-form-item>
					<el-form-item label="课题名称">
						<el-input v-model="kyxmItemFormData.k_name"></el-input>
					</el-form-item>
					<el-form-item label="课题类别">
						<el-input v-model="kyxmItemFormData.k_category"></el-input>
					</el-form-item>
					<el-form-item label="课题积分">
						<el-input v-model="kyxmItemFormData.k_score"></el-input>
					</el-form-item>
				</el-form>
			</div>
			<!--课题管理模块-操作课题模块end-->


			<!--积分统计模块start-->
			<div id="statisticsOfScoreSection" class="ct-chart ct-golden-section" style="display: none" align="center"></div>
			<!--积分统计模块end-->

		</el-main>
	</el-container>
</el-container>
</el-container>
</div>


<script>
//vue实例的创建是有先后顺序的，而且经验告诉我们有注入数据的dom节点只能有一个vue实例与之对应
var vueMain = new Vue({
	el: '#app',
	data: {
		applyingKyxmTableData: [],//审核课题立项tabledata
		applyingCompletingKyxmTableData: [],//审核课题结项tabledata
		applyingScoreKyxmTableData: [],//审核课题积分tabledata
		visitTableData:[],//visit用户列表
		labelPosition: 'left',
		visitItemFormData: '',//记录正在编辑的visitItem的信息
		visitItem_oldusername: '',//记录正在编辑的visitItem的原始用户名
		markadd:false,//标志是否是添加visit
		kyxmListTableData: [],//课题管理模块的课题列表tabledata
		kyxmItemFormData: '',//记录正在编辑的kyxmItem的信息
	},
	methods: {
		handleOpen(key, keyPath) {
			console.log(key, keyPath);
		},
		handleClose(key, keyPath) {
			console.log(key, keyPath);
		}
	}
});
</script>
</body>
</html>