<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>科研教学成果管理系统</title>
	<!--jQuery引用-->
	<script src="files/js/jquery-3.3.1.js"></script>
	<!-- vue.js core -->
	<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
	<!-- 引入element-ui样式与组件 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<!--引入chartist.js核心库-->
	<script type="text/javascript" src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
	<link href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" rel="stylesheet" type="text/css" />
	<!--引入自定义库-->
	<link href="files/css/my.css" rel="stylesheet" type="text/css" />
	<script src="files/js/my.js"></script>
</head>
<body>
	<div id="app">
		<el-container>
			<el-header>科研教学成果管理系统</el-header>
			<el-container>
				<el-aside width="200px">
					<el-row class="tac">
						<el-col :span="20">
							<el-menu
							default-active="2"
							class="el-menu-vertical-demo"
							@open="handleOpen"
							@close="handleClose">
							<el-menu-item index="1" @click="showMyInfoElement">
								<i class="el-icon-document"></i>
								<span slot="title">个人信息</span>
							</el-menu-item>
							<el-menu-item index="2" @click="showMyClassElement">
								<i class="el-icon-setting"></i>
								<span slot="title">我的课题</span>
							</el-menu-item>
							<el-menu-item index="3" @click="showClassSquareElement">
								<i class="el-icon-menu"></i>
								<span slot="title">全部课题</span>
							</el-menu-item>
							<el-menu-item index="4" @click="chooseShow('searchRegion')">
								<i class="el-icon-location"></i>
								<span slot="title">搜索课题</span>
							</el-menu-item>
							<el-menu-item index="5" @click="showStatisticsOfScoreUsers">
								<i class="el-icon-location"></i>
								<span slot="title">积分统计</span>
							</el-menu-item>
							<el-menu-item index="6" @click="logout">
								<i class="el-icon-document"></i>
								<span slot="title">用户注销</span>
							</el-menu-item>
						</el-menu>
					</el-col>
				</el-row>
			</el-aside>

			<el-container>
				<el-main>
					<!--我的课题start-->
					<div id="myClass" style="display: none">
						<template>
							<el-table :data="myClassTableData"  border style="width: 100%">
								<el-table-column header-align="center" prop="k_name" label="课题名称">
								</el-table-column>
								<el-table-column header-align="center" prop="k_status" label="课题状态">
								</el-table-column>
								<el-table-column header-align="center" prop="k_score" label="课题积分">
								</el-table-column>
								<el-table-column header-align="center" prop="k_applyTime" label="申报时间">
								</el-table-column>
								<el-table-column header-align="center" prop="k_setTime" label="立项时间">
								</el-table-column>
								<el-table-column header-align="center" prop="k_endTime" label="结项时间">
								</el-table-column>
								<el-table-column header-align="center" label="操作">
									<template scope="props">
										<el-button type="primary" @click='applySetMyKyxm(props.row.k_id)'>申请结项</el-button>
										<br>
										<br>
										<el-button type="primary"@click='applyMyKyxmScore(props.row.k_id)'>申请积分</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
					</div>
					<!--我的课题end-->

					<!--课题广场start-->
					<div id="classSquare" style="display: none">
						<template>
							<el-table :data="classSquareTableData" border style="width: 100%">
								<el-table-column header-align="center" prop="k_name" label="课题名称">
								</el-table-column>
								<el-table-column header-align="center" prop="k_category" label="课题类别">
								</el-table-column>
								<el-table-column header-align="center" prop="k_score" label="科研积分">
								</el-table-column>
								<el-table-column header-align="center" label="操作">
									<template scope="props">
										<el-button type="primary" @click='addMyKyxm(props.row.k_id)'>申报</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
					</div>
					<!--课题广场end-->

					<!--搜索区域start-->
					<div id="searchRegion" style="display: none">
						<el-container>
							<el-header style="background-color: white">
								<el-form :inline="true" :model="searchForm" class="demo-form-inline">
									<el-form-item>
										<el-input v-model="searchForm.k_name" placeholder="找你所想"></el-input>
									</el-form-item>
									<el-form-item>
										<el-button type="primary" @click="searchKyxm">查询课题</el-button>
									</el-form-item>
								</el-form>
							</el-header>

							<el-main>
								<div id="searchResults" style="display: none">
									<template>
										<el-table :data="searchResultsTableData" border style="width: 100%">
											<el-table-column header-align="center" prop="k_name" label="课题名称">
											</el-table-column>
											<el-table-column header-align="center" prop="k_category" label="课题类别">
											</el-table-column>
											<el-table-column header-align="center" prop="k_score" label="科研积分">
											</el-table-column>
											<el-table-column header-align="center" label="操作">
												<template scope="props">
													<el-button type="primary" @click='addMyKyxm(props.row.k_id)'>申报</el-button>
												</template>
											</el-table-column>
										</el-table>
									</template>
								</div>
							</el-main>
						</el-container>
					</div>
					<!--搜索区域end-->

					<!--积分统计模块start-->
					<div id="statisticsOfScoreSection" class="ct-chart ct-golden-section" style="display: none" align="center">
					</div>
					<!--积分统计模块end-->

					<!--我的信息start-->
					<div id="myInfo" style="display: none">
						<el-form :label-position="labelPosition" :model="myInfoFormData" label-width="80px">
							<el-form-item color="white">
								<div id="app">
									<el-row :gutter="10">
										<el-col :span="2">
											<div class="grid-content bg-purple">
												<el-button  v-if="!show" type="success" @click="show=true">修改信息</el-button>
											</div>
										</el-col>    
										<el-col :span="2" :offset="18"><div class="grid-content bg-purple">
											<el-button  v-if="show" type="warning" @click="show=false">取消</el-button>
										</div></el-col>
										<el-col :span="2"><div class="grid-content bg-purple">						
											<el-button  v-if="show" type="primary" @click="saveMyInfo">保存</el-button>
										</div>
									</el-col>
								</el-row>
							</el-form-item>
							<el-form-item label="姓名">
								<el-input v-if="show" v-model="myInfoFormData.u_name"></el-input>
								<span v-else>{{myInfoFormData.u_name}}</span>
							</el-form-item>
							<el-form-item label="性别">
								<el-input v-if="show" v-model="myInfoFormData.u_sex"></el-input>
								<span v-else>{{myInfoFormData.u_sex}}</span>
							</el-form-item>
							<el-form-item label="职称">
								<span >{{myInfoFormData.u_identity}}</span>
							</el-form-item>
							<el-form-item label="科研总分">
								<span >{{myInfoFormData.u_wholePoints}}</span>
							</el-form-item>
							<el-form-item label="用户名">
								<el-input v-if="show" v-model="myInfoFormData.username"></el-input>
								<span v-else>{{myInfoFormData.username}}</span>
							</el-form-item>
							<el-form-item label="密码">
								<el-input v-if="show" v-model="myInfoFormData.password"></el-input>
								<span v-else>{{myInfoFormData.password}}</span>
							</el-form-item>
						</el-form>
					</div>
					<!--我的信息end-->
				</el-main>

			</el-container>
		</el-container>
	</el-container>
</div>


<script>
//vue实例的创建是有先后顺序的，而且经验告诉我们有注入数据的dom节点只能有一个vue实例与之对应
var vueMain = new Vue({
	el: '#app',
	data: {
		myInfoFormData: '',
		labelPosition: 'left',
		show: false, 
		myClassTableData: [],
		classSquareTableData: [],
		searchResultsTableData: [],
		searchForm: { k_name: ''}
	},
	methods: {
		handleOpen(key, keyPath) {
			console.log(key, keyPath);
		},
		handleClose(key, keyPath) {
			console.log(key, keyPath);
		}
	}
});
</script>
</body>
</html>